.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    margin-top: 10px;

}

.certificate,
.team-name,
.institution,
.graduation{
    margin-top:0.5em;
}

.finish{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
