.success-container {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;

  #hide {
    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 450px) {
        font-size: 1.1em;
        width: 100%;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 40px 20px;
    gap: 8px;
    @media (max-width: 768px) {
      padding: 40px 0px;
      gap: 8px;
    }
  }
  .certificates {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    p {
      font-family: "Nunito", sans-serif;
      font-weight: 400;
      font-size: 1.2em;
      width: 100%;
      @media (max-width: 768px) {
        font-size: 1.1em;
      }
    }
    .list {
      width: 100%;
      p {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 450px) {
          font-size: 1.1em;
          width: 60%;
        }
      }
    }
  }
}
.button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}
