.success-container {
  padding: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  .certificates {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  .list {
    width: 100%;
    p {
      width: 60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
}
