.classButton {
  cursor: pointer;
  padding: 10px;
  background: #074ee8;
  border-radius: 4px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 5px;
}

.img0 {
  width: 7px;
  height: 7px;
}

.img1 {
  width: 13px;
  height: 10px;
}

.img2 {
  width: 7px;
  height: 7px;
}
