.containerTitle {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  .title {
    font-size: 3em;
    margin: 0;
    color: #074ee8;
    font-weight: 700;

    @media (max-width: 1550px){
      font-size: 2em;
    }
  }
}
