.containerTitle {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  .type {
    font-size: 1.3em;
    margin: 0;
    color: #111111;
    font-weight: 400;
    padding-left: 2px;
  }
  .description {
    font-size: 3em;
    margin: 0;
    color: #074ee8;
    font-weight: 700;
  }
}
