.container-description {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  .description {
    font-size: 1.3em;
    margin: 0;
    color: #111111;
    font-weight: 400;
    padding-left: 2px;

    @media (max-width: 1400px){
      font-size: 1rem;
    }
  }
}
