.birthday-container {
  font-family: "Nunito", sans-serif;
  width: 100%;
  .title {
    color: #767676;
    font-size: 1.2em;
    margin-right: 2em;
  }
  span {
    font-size: 1em;
    color: #ff0000;
    visibility: hidden;
    @media (max-width: 580px) {
      font-size: 0.75em;
    }
  }

  .inputs-container {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    .select {
      padding-bottom: 5px;
      display: flex;
      flex-flow: column nowrap;
      width: 22%;
      label {
        color: #767676;
        margin-right: 2em;

        font-size: 1em;
      }
      @media (max-width: 768px) {
        width: 45%;
      }
      .age {
        display: flex;
        border: 2px solid #aaaaaa;
        border-radius: 4px;
        width: 100%;
        height: 2.5em;
        background: transparent;
        color: #767676;
        font-size: 1em;
        padding-left: 10px;
        margin-top: 5px;
      }
    }
  }
}
select {
  border: 2px solid #aaaaaa;
  border-radius: 4px;
  width: 100%;
  height: 2.5em;
  background: transparent;
  color: #767676;
  font-size: 1em;
  padding-left: 10px;
  margin-top: 5px;
  text-align: left;
  margin-top: 3px;
  &:focus {
    outline: 0;
  }
}
